html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--primary-font-color);
}
:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f1f1f1;

  --special-color: #f7c71b;

  /* --section-padding: 0px 100px; */
  --section-padding: 0px 20px;
  --section-gap: 50px;

  --primary-font-color: #2d2d2d;
  --secondary-font-color: #797773;
}

/*  common classes */
a {
  text-decoration: none;
  color: var(--primary-font-color);
}

body {
  background-color: var(--bg-secondary-color);
  border: 1px solid transparent;
}
.btn {
  width: fit-content;
  padding: 8px 24px;
  border-radius: 6px;
  background-color: var(--special-color);
  color: white;
  text-align: center;
  border: none;
}

.section-heading {
  text-align: center;
}

.section-heading h5 {
  color: var(--special-color);
  font-weight: 500;
}
.section-heading h2 {
  margin-top: 5px;
  font-weight: 500;
}

/* header */

header {
  display: flex;
  padding: var(--section-padding);
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary-color);
  height: 80px;

  position: fixed;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;

  position: relative;
}

header .nav-wrapper {
  align-items: center;
  gap: 30px;
  display: none;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  position: absolute;
  top: 80px;
  left: 110vw;

  background-color: var(--special-color);
  padding: 20px;

  transition: all 300ms;
  transition-delay: 100ms;
}

header .nav-wrapper .btn {
  background-color: orange;
}

header nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header nav a {
  /* margin-left: 20px; */
  text-align: center;
  position: relative;
  font-weight: 500;
}

header nav a::before {
  content: '';
  height: 3px;
  background-color: var(--special-color);
  width: 0%;
  position: absolute;
  bottom: -3px;
  left: 0;

  transition: all 300ms;
}

header nav a:hover::before {
  width: 100%;
}

header .logo {
  font-size: 48px;
  font-family: 'Imperial Script', cursive;
}
header #toggle {
  display: none;
}

header #toggle:checked + .nav-wrapper {
  display: flex;
  /* visibility: visible; */
  left: 0;
}

/* #hero-section */

#hero-section {
  padding: var(--section-padding);
  /* margin-top: 80px; */
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  background-color: var(--bg-primary-color);
}

#hero-section > img {
  /* height: 400px; */
  height: 300px;
}

#hero-section .content {
  /* max-width: 50%; */
  padding-bottom: 20px;
}

#hero-section .content h5 {
  color: var(--special-color);
}
#hero-section .content h2 {
  font-size: 48px;
}
#hero-section .content h4 {
  color: #1f7a31;
  font-weight: 400;
}
#hero-section .content p {
  margin-top: 10px;
  width: 80%;
  margin-bottom: 30px;
}

#hero-section .content span,
#about-me-section .content span {
  font-weight: 800;
  margin-left: 30px;
}
#hero-section .content span i,
#about-me-section .content span i {
  margin-left: 10px;
  color: var(--special-color);
}

/* #about-me-section */

#about-me-section {
  padding: var(--section-padding);
  margin-top: var(--section-gap);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#about-me-section > img {
  /* height: 600px; */
  /* height: 200px; */
  display: none;
}
#about-me-section .content {
  /* max-width: 50%; */
}

#about-me-section .content > h4 {
  color: var(--special-color);
  font-weight: 600;
}
#about-me-section .content > h2 {
  font-size: 30px;
  font-weight: 500;
}
#about-me-section .content > p {
  margin: 15px 0px;
}

#about-me-section .content .details {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 80%;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#about-me-section .content .details .detail {
  display: flex;
}
#about-me-section .content .details .detail h3 {
  color: var(--special-color);
}
#about-me-section .content .details .detail img {
  height: 60px;
  margin-right: 10px;
}

/* #service-section */

#service-section {
  padding: var(--section-padding);
  margin-top: var(--section-gap);
}

#service-section .section-heading h6 {
  text-align: end;
  margin-right: 100px;
  color: var(--special-color);
}

#service-section .service-cards {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
#service-section .service-cards img {
  height: 250px;
}
#service-section .service-cards .service-card {
  max-width: 300px;
  text-align: center;
}

#service-section .service-cards .service-card h4,
#service-section .service-cards .service-card h5 {
  width: 100%;
  margin-top: 5px;
}
#service-section .service-cards .service-card h5 {
  font-weight: 400;
}

/* #case-study-section  */

#case-study-section {
  padding: var(--section-padding);
  margin-top: var(--section-gap);
}

#case-study-section .case-studies {
  margin-top: 30px;
}

#case-study-section .case-studies .case-study {
  margin: 0 auto;
  margin-top: 50px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

#case-study-section .case-studies .case-study:nth-child(2) {
  flex-wrap: wrap-reverse;
}

#case-study-section .case-studies .case-study img {
  height: 250px;
  display: block;
  margin: 0 auto;
}

#case-study-section .case-studies .case-study .content {
  max-width: 500px;
}

#case-study-section .case-studies .case-study .content h2 {
  color: var(--special-color);
  font-weight: 500;
}
#case-study-section .case-studies .case-study .content h3 {
  font-weight: 500;
}

#case-study-section .case-studies .case-study .content p {
  margin: 15px 0;
}

#case-study-section .case-studies .case-study .content .btn {
  background-color: transparent;
  border: 1px solid var(--special-color);
  color: var(--special-color);
}

/* #portfolio-section */

#portfolio-section {
  padding: var(--section-padding);
  margin-top: var(--section-gap);
}

#portfolio-section .portfolio-cards {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#portfolio-section .portfolio-cards img {
  height: 250px;
}

/* #clients-section */

#clients-section {
  padding: var(--section-padding);
  margin-top: var(--section-gap);
}
#clients-section .clients {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  overflow: auto;
  padding-bottom: 30px;
}

/* #testimonials-section */

#clients-section .clients img {
  object-fit: contain;
  height: 35px;
}

/* footer */

footer {
  margin-top: var(--section-gap);
  background-image: linear-gradient(#f0ede2, #f2f2f2);
}

footer .contact-us {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  /* padding: 0 100px; */
  padding: 0 20px;
  padding-top: 50px;
}

footer .contact-us .contact-details {
  /* margin-top: 50px; */
  /* max-width: 40%; */
}
footer .contact-us .contact-details i {
  font-size: 24px;
  color: var(--special-color);
}
footer .contact-us .contact-details h2 {
  color: var(--primary-font-color);
  font-weight: 600;
  padding-left: 60px;
}
footer .contact-us .contact-details h5 {
  margin-bottom: 30px;
  max-width: 90%;
  padding-left: 60px;
}

footer .contact-us .contact-details h5,
footer .contact-us .contact-details h3 {
  margin-top: 10px;
  font-weight: 500;
  color: var(--secondary-font-color);
}

footer .contact-us .contact-details .info h3 {
  max-width: 60%;
}

footer .contact-us .contact-details .info {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer .contact-us form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* width: 100%; */
  flex-grow: 1;
}
footer .contact-us form input,
footer .contact-us form textarea {
  /* width: 400px; */
  width: 90%;
  padding: 15px;
  border-radius: 12px;
}

footer .footer-bottom {
  padding: var(--section-padding);
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
}

footer .footer-bottom .site-info {
  /* max-width: 30%; */
}
footer .footer-bottom .site-info h2 {
  font-family: 'Imperial Script', cursive;
  font-size: 40px;
  font-weight: 500;
  color: var(--special-color);
}

footer .footer-bottom .site-info h4 {
  font-weight: 500;
  color: var(--secondary-font-color);
}

footer .footer-bottom .quick-links {
  margin-top: 30px;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: start;
  gap: 30px;
  flex-wrap: wrap;
  flex-grow: 1;
}

footer .footer-bottom .quick-links li {
  margin-top: 10px;
  list-style: none;
  color: var(--secondary-font-color);
}

footer .bar {
  height: 30px;
  background-color: var(--special-color);
}